.main {
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

#qrcode {
    border: 1px solid var(--border);
    display: none;
    padding: 10px;
}

form {
    max-width: 500px;
}

form label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2em;
}

form input {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

form .colors {
    column-gap: 10px;
    display: flex;
}

form .colors > div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

#btn-copy,
#btn-download {
    display: none;
    float: left;
    margin-right: 10px;
}

/* animations */
.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
