.main {
    column-gap: 50px;
    display: flex;
    flex-wrap: wrap;
}

#qrcode {
    border: 1px solid var(--border);
    display: none;
    padding: 10px;
}

form {
    max-width: 500px;
}

form label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 2em;
}

form input {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

form .colors {
    column-gap: 10px;
    display: flex;
}

form .colors > div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

#btn-download {
    display: none;
}
