<!doctype html>

<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="{{ title }}">
  <meta name="author" content="Matthias Barde">

  <!--
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  -->

  <link rel="stylesheet" href="/static/water.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/main.js"></script> 
</head>

<body style="max-width: 1600px;">
  <h1>{{ title }}</h1>
  <div class="main">
    <div>
      <form onsubmit="createQRCode(event)">
        <label for="url">URL</label>
        <i>Create QR-code for this URL.</i>
        <input type="url" name="url" id="url" placeholder="https://example.com" />
        <label for="boxsize">Size</label>
        <input
          type="range"
          id="boxsize"
          name="boxsize"
          min="1"
          max="100"
          value="20"
          step="1"
          onchange="createQRCode()"
        />
        <div class="colors">
          <div>
            <label for="clrfill">Fill:</label>
            <input
              type="color"
              name="clrfill"
              id="clrfill"
              onchange="createQRCode()"
              value="#000000"
              colorpick-eyedropper-active="true"
            />
          </div>
          <div>
            <label for="clrback">Background:</label>
            <input
              type="color"
              name="clrback"
              id="clrback"
              onchange="createQRCode()"
              value="#FFFFFF"
              colorpick-eyedropper-active="true"
            />
          </div>
        </div>
        <input type="submit" value="Create"/>
      </form>
    </div>
    <div>
      <img id="qrcode"/>
      <br/>
      <a id="btn-download" role="button" download>
        <button>Download</button>
      </a>
      <button id="btn-copy">Copy URL</button>
    </div>
  </div>
  <footer>
    🐍-powered by <a href="https://github.com/mbarde/flask-qrcode" target="_blank">flask-qrcode</a>
  </footer>
</body>
</html>
